<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>utilisateurs de l'application</h4>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>choisir</th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td><input type="checkbox" class="checkthis" /></td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                <button class="btn btn-primary btn-xs" data-placement="top" data-toggle="tooltip" title="Edit"
                    data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button> 
              </td>
              <td>
                <button class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" title="Delete"
                    data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>