<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>utilisateurs de l'application</h4>
      <div class="table-responsive">        
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" class="checkthis" (change)="selectAll($event.target.checked)"  class="margin"/>
            </th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <th>Edit <button class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" title="Delete" (click)="deleteUser()"
              data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td><input type="checkbox" class="checkthis" (change)="onChange(user, $event.target.checked)" [(checked)]="selected"/></td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                <button class="btn btn-primary btn-xs margin" data-placement="top" data-toggle="tooltip" title="Edit" [routerLink]="['/edit-user', user.id]"
                    data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button> 
              </td>
            </tr>
             <!-- pager -->
             <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>