<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

 
  <div class="row col-sm-6" style="max-width:350px;">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" class="form-control" formControlName="name" required />
        <div *ngIf="userForm.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username"
          required />
        <div *ngIf="userForm.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" required email />
        <div *ngIf="userForm.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" required 
          required minlength="6" />
        <div *ngIf="userForm.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Register</button>
        <div *ngIf="userForm.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
 